@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
}

/* Hide scrollbars while preserving scroll behavior */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
